<a name="education"></a>
<div class="education">
  <div class="wrapper mtb">
    <h2 class="title">Education</h2>

    <div class="information-block right">
      <h3>March 2016 - May 2016</h3>
      <p>Web Development Bootcamp</p>
    </div>
    <div class="timeline"></div>
    <div class="information-block">
      <p>A fully immersive program to learn the foundations of web development.</p>
    </div>
    <div class="information-block right">
      <h3>September 2008 - August 2012</h3>
      <p>Bachelor's Degree</p>
    </div>
    <div class="timeline"></div>
    <div class="information-block">
      <p>B.Sc. in Biology and Psychology</p>
      <p>President's Scholarship, Dean's List.</p>
    </div>
  </div>
</div>