<a name="education"></a>
<div class="education">
  <div class="wrapper mtb">
    <h2 class="title">Education</h2>
    <ul class="list">
      <li class="list-item">
        <div class="information-block right">
          <h3 class="type">Web Development Bootcamp</h3>
          <p class="place">Lighthouse Labs, Vanouver, BC</p>
        </div>
        <div class="timeline"></div>
        <div class="information-block">
          <p class="date">March 2016 - May 2016</p>
          <p>A fully immersive program to learn the foundations of web development.</p>
        </div>
      </li>
      <li class="list-item">
        <div class="information-block right">
          <h3 class="type">B.Sc. in Biology and Psychology</h3>
          <p class="place">University of Victoria, Victoria, BC</p>
        </div>
        <div class="timeline"></div>
        <div class="information-block">
          <p class="date">September 2008 - August 2012</p>
          <p>President's Scholarship, Dean's list</p>
        </div>
      </li>
  </div>
</div>