<a name="experience"></a>
<div class="experience">
  <div class="wrapper mtb">
    <h2 class="title">Experience</h2>
    <ul class="list">
      <li class="list-item">
        <div class="information-block right">
          <h3 class="company">Latitude Geographics</h3>
          <p class="role">Front-end Developer</p>
        </div>
        <div class="timeline"></div>
        <div class="information-block">
          <p class="date">July 2016 - November 2016</p>
          <ul>
            <li>Developed front-end components for mobile and web GIS applications.</li>
            <li>Worked closely with other developers and project managers in an agile environment to come up with design solutions for new product features.</li>
            <li>Created UI/UX design mockups.</li>
          </ul>
        </div>
      </li>
      <li class="list-item">
        <div class="information-block right">
          <h3 class="company">Singular Studio</h3>
          <p class="role">Web Designer</p>
        </div>
        <div class="timeline"></div>
        <div class="information-block">
          <p class="date">October 2015 - February 2016</p>
          <ul>
            <li>Meet with clients to gather requirements and discuss project scope.</li>
            <li>Design and develop websites, taking into consideration performance and user experience.</li>
            <li>Maintain websites and assist with any technical issues.</li>
          </ul>
        </div>
      </li>
      <li class="list-item">
        <div class="information-block right">
          <h3 class="company">Plexi-Klass Manufacturing</h3>
          <p class="role">Plastics Fabricator</p>
        </div>
        <div class="timeline"></div>
        <div class="information-block">
          <p class="date">September 2006 -  March 2016</p>
          <ul>
            <li>Created  custom products from various types of plastics. Involved interpretation of clients designs and effective operation of power tools and various other equipment. Job required ability to follow precise instructions and to develop and employ unique strategies to tackle projects.</li>
            <li>Created custom products from various types of plastics, using a range of power tools and other equipment.</li>
            <li>Interpretation of clients designs and employment of unique strategies to tackle projects.</li>
          </ul>
        </div>
      </li>
      <li class="list-item">
        <div class="information-block right">
          <h3 class="company">American Language Academy</h3>
          <p class="role">ESL (English as a Second Language) Teacher</p>
        </div>
        <div class="timeline"></div>
        <div class="information-block">
          <p class="date">October 2014 - May 2015</p>
          <ul>
            <li>Taught english to adults in group and individual classes.</li>
            <li>Prepared and developed individualized lessons and assessed student progress.</li>
          </ul>
        </div>
      </li>
  </div>
</div>
