<a name="experience"></a>
<div class="experience">
  <div class="wrapper mtb">
    <h2 class="title">Experience</h2>
    <div class="information-block right">
      <h3>July 2016 - November 2016</h3>
      <p>Front-end Developer</p>
    </div>
    <div class="timeline"></div>
    <div class="information-block">
      <h3>Latitude Geographics</h3>
      <p>Created UI/UX design mockups and translated mockups to code for GIS software. Also designed and created icons.</p>
    </div>
    <div class="information-block right">
      <h3>October 2015 - February 2016</h3>
      <p>Web Designer</p>
    </div>
    <div class="timeline"></div>
    <div class="information-block">
      <h3>Singular Studio</h3>
      <p>Freelance website design for small businesses.  Used Wordpress to create simple informational websites to more complex, multi-page e-commerce ones.</p>
    </div>
    <div class="information-block right">
      <h3>September 2006 -  March 2016</h3>
      <p>Plastics Fabricator</p>
    </div>
    <div class="timeline"></div>
    <div class="information-block">
      <h3>Plexi-Klass Manufacturing</h3>
      <p>Created  custom products from various types of plastics. Involved interpretation of clients designs and effective operation of power tools and various other equipment. Job required ability to follow precise instructions and to develop and employ unique strategies to tackle projects.</p>
    </div>
    <div class="information-block right">
      <h3>October 2014 - May 2015</h3>
      <p>ESL (English as a Second Language) Teacher</p>
    </div>
    <div class="timeline"></div>
    <div class="information-block">
      <h3>American Language Academy</h3>
      <p>Taught english to adults in group and individual classes. Required preparation of lessons and assessment of student progress.</p>
    </div>
    <div class="information-block right">
      <h3>May 2012 - August 2012</h3>
      <p>Lab Assistant</p>
    </div>
    <div class="timeline"></div>
    <div class="information-block">
      <h3>Lab Assistant</h3>
      <p>Granted an award during my undergraduate studies to pursue research in a medical sciences laboratory. During my research period I collaborated with my supervisor to look at learning and memory in mice. This involved behavioral and anatomical testing on mice, review of scientific literature, and analysis and interpretation of data.</p>
    </div>
  </div>
</div>
