<a name="experience"></a>
<div class="experience">
  <div class="wrapper mtb">
    <h2 class="title">Experience</h2>
    <ul class="list">
    <li class="list-item list-item">
        <div class="information-block right">
          <h3 class="company">ForeSee / Verint ForeSee</h3>
          <p class="role">Software Engineer II</p>
        </div>
        <div class="timeline"></div>
        <div class="information-block">
          <p class="date">July 2018 - Present</p>
          <ul>
            <li>Feature development and maintenance of the client side application</li>
            <li>Migration of existing codebase to a more modern tech stack using React and GraphQL</li>
            <li>Grooming of tickets for feature development</li>
            <li>Code reviews and regular meetings to improve current practices and processes</li>
        </ul>
        </div>
      </li>
      <li class="list-item list-item-long">
        <div class="information-block right">
          <h3 class="company">Freshworks Studio</h3>
          <p class="role">Web Developer</p>
        </div>
        <div class="timeline"></div>
        <div class="information-block">
          <p class="date">May 2017 - July 2018</p>
          <ul>
              <li>Developed web applications using React/Redux for government and private clients in an agile environment.</li>
              <li>Used modern technologies and libraries, unit testing, and coding best practices to create maintainable applications.</li>
              <li>Worked on a variety of projects both alone and on a team, which involve integration with RESTful API services.</li>
              <li>Took a leadership role on the front-end team and helped develop guidelines for best development practices.</li>
              <li>Provided regular code reviews for team members.</li>
          </ul>
        </div>
      </li>
      <li class="list-item">
        <div class="information-block right">
          <h3 class="company">Latitude Geographics</h3>
          <p class="role">Front-end Developer</p>
        </div>
        <div class="timeline"></div>
        <div class="information-block">
          <p class="date">July 2016 - November 2016</p>
          <ul>
            <li>Developed front-end components for mobile and web GIS applications.</li>
            <li>Worked closely with other developers and project managers in an agile environment to come up with design solutions for new product features.</li>
            <li>Created UI/UX design mockups.</li>
          </ul>
        </div>
      </li>
      <li class="list-item">
        <div class="information-block right">
          <h3 class="company">Singular Studio</h3>
          <p class="role">Web Designer</p>
        </div>
        <div class="timeline"></div>
        <div class="information-block">
          <p class="date">October 2015 - Current</p>
          <ul>
            <li>Meet with clients to gather requirements and discuss project scope.</li>
            <li>Design and develop websites, taking into consideration performance and user experience.</li>
            <li>Maintain websites and assist with any technical issues.</li>
          </ul>
        </div>
      </li>
      <li class="list-item">
        <div class="information-block right">
          <h3 class="company">Plexi-Klass Manufacturing</h3>
          <p class="role">Plastics Fabricator</p>
        </div>
        <div class="timeline"></div>
        <div class="information-block">
          <p class="date">September 2006 -  March 2016</p>
          <ul>
            <li>Created custom products from various types of plastics, using a range of power tools and other equipment.</li>
            <li>Interpretation of clients designs and employment of unique strategies to tackle projects.</li>
          </ul>
        </div>
      </li>
      <li class="list-item">
        <div class="information-block right">
          <h3 class="company">American Language Academy</h3>
          <p class="role">ESL (English as a Second Language) Teacher</p>
        </div>
        <div class="timeline"></div>
        <div class="information-block">
          <p class="date">October 2014 - May 2015</p>
          <ul>
            <li>Taught english to adults in group and individual classes.</li>
            <li>Prepared and developed individualized lessons and assessed student progress.</li>
          </ul>
        </div>
      </li>
  </div>
</div>
