<a name="projects"></a>
<div class="projects">
  <div class="wrapper mtb">
    <h2 class="title">Projects</h2>
    <div class="website">
      <h3 class="name">Freshworks Private Projects</h3>
      <p class="type">Web Appications</p>
      <p>Worked on a variety of private client projects including:
        <ul>
          <li>Lead frontend developer on an application for bidding on vehicles in real-time using React / Redux, custom SCSS, and web sockets with Deepstream.</li>
          <li>Aided in the development of a React/Redux web application, adding custom theming using CSS/SCSS and unit testing using Jest. Conducted team code reviews.</li>
          <li>Developed an application using React/Redux that connected to a RESTful API and integrated the Google Maps API. Created custom UI components to replace UI framework.</li>
        </ul>
      </p>
    </div>
    <div class="website">
      <h3 class="name"><a href="https://github.com/bcgov/tfrs">Transportation Fuel Reporting System</a>a</h3>
      <p class="type">Web Appication</p>
      <p>An application for the BC Government that involved creating the first iteration of an application from the ground up within a limited timeframe. Integrated with an existing RESTful API service.</p>
    </div>
    <div class="website">
      <h3 class="name"><a href="https://github.com/bcgov/hets">Hired Equipment Tracking System</a></h3>
      <p class="type">Web Appication</p>
      <p>An application for the BC Government that involved adding features to an existing application. Worked closely with a backend developer and project manager in an agile environment to create the client side application.</p>
    </div>
    <div class="website">
      <h3 class="name"><a href="https://github.com/BuzzBumble/League-Up">League-Up</a></h3>
      <p class="type">Web Application</p>
      <p>A web app for tracking and analyzing custom statistics for recreational games.</p>
      <ul><h4 class="tech-stack">Tech Stack</h4>
        <li>Ruby</li>
        <li>Ruby on Rails</li>
        <li>Postgres</li>
        <li>Foundation</li>
        <li>Javascript/JQuery</li>
      </ul>
    </div>
  </div>
</div>