<a name="projects"></a>
<div class="projects">
  <div class="wrapper mtb">
    <h2 class="title">Projects</h2>
    <div class="website">
      <img src="/assets/img/ebikebc.jpg">
      <h3>EbikeBC</h3>
      <h4>Website</h4>
      <p>An large multipage e-commerce website built using Wordpress</p>
    </div>
    <div class="website">
      <img src="/assets/img/plexiklass.jpg">
      <h3>Plexi-Klass Manufacturing</h3>
      <h4>Website</h4>
      <p>A basic static website built using Wordpress</p>
    </div>
    <div class="website">
      <img src="/assets/img/league-up.jpg">
      <h3>League-Up</h3>
      <h4>Web Application</h4>
      <p>A web app for tracking and analyzing custom statistics for recreational games.</p>
      <ul>Tech Stack
        <li>Ruby</li>
        <li>Ruby on Rails</li>
        <li>Postgres</li>
        <li>Foundation</li>
        <li>Javascript/JQuery</li>
      </ul>
    </div>
    <div class="website">
      <img src="/assets/img/memeshirts.jpg">
      <h3>Memeshirts</h3>
      <h4>Web Application</h4>
      <p>A web app for creating a t-shirt with a randomly generated meme from Reddit.</p>
      <ul>Tech Stack
        <li>Ruby</li>
        <li>Sinatra</li>
        <li>Postgres</li>
        <li>Bootstrap</li>
        <li>Javascript/JQuery</li>
      </ul>
    </div>
  </div>
</div>