<a name="skills"></a>
<div class="skills">
  <div class="wrapper mtb">
    <h2 class="title">Skills</h2>
    <ul class="skills-list">
      {% for image in site.static_files %}
        {% if image.path contains 'img/skills' %}
          <li> 
            <img src="{{ site.baseurl }}{{ image.path }}" />
            <div>{{ image.basename }}</div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>


      <!-- <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>JQuery</li>
      <li>Ruby</li>
      <li>Ruby on Rails</li>
      <li>Sinatra</li>
      <li>Node.js</li>
      <li>Express</li>
      <li>React.js</li>
      <li>Bootstrap</li>
      <li>SQL</li>
      <li>MongoDB</li>
      <li>Wordpress</li>
      <li>Adobe Illustrator</li>
      <li>Adobe Photoshop</li>
      <li>Git</li>
      <li>SVN</li> -->